.container {
  width: 720px;
  height: 612px;
  font-size: 0;
  background-color: hotpink;
}
.handlebar {
  background-color: white;
  width: 20px;
  height:275px;
  position:absolute;
  top:189px;
  left:211px;
  transform: rotate(30deg);
  border-radius: 20px;
}
.handlers {
  background-color: white;
  width: 70px;
  height:20px;
  position:absolute;
  top: 206px;
  left: 280px;
  border-radius:20px;
}
.frame-part1 {
  background-color:white;
  width:240px;
  height:20px;
  position:absolute;
  top:286px;
  left: 235px;
}
.frame-part2 {
  background-color:white;
  width:225px;
  height:20px;
  position:absolute;
  top:356px;
  left: 209px;
  border-radius: 20px;
  transform: rotate(45deg)
}
.frame-part3 {
  background-color: white;
  width: 20px;
  height:205px;
  position:absolute;
  top:253px;
  left:433px;
  transform: rotate(30deg);
  border-radius: 20px;
}
.frame-part4 {
  background-color: white;
  width: 20px;
  height:179px;
  position:absolute;
  top:275px;
  left:506px;
  transform: rotate(150deg);
  border-radius: 20px;
}
.frame-part5 {
  background-color: white;
  width: 175px;
  height:20px;
  position:absolute;
  top:427px;
  left:393px;
  border-radius: 20px;
}
.saddle {
  background-color: white;
  width: 80px;
  height:20px;
  position:absolute;
  top:257px;
  left:451px;
  border-radius:20px;
}
.maskOne {
  position: absolute;
  top: 320px;
  left: 45px;
}
.maskTwo {
  position: absolute;
  top: 320px;
  left: 450px;
}
.maskOne .wheelOne:after {
  border-radius: 50%;
  width: 260px;
  height: 260px;
}

.maskOne .wheelOne {
  margin: 0px auto;
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-top: 20px solid white;
  border-right: 20px solid white;
  border-bottom: 20px solid white;
  border-left: 20px solid #E5E5E5;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spinTwo 1.5s infinite linear;
  animation: spinTwo 1.5s infinite linear;
}

.maskTwo .wheelTwo:after {
  border-radius: 50%;
  width: 260px;
  height: 260px;
}

.maskTwo .wheelTwo {
  content: "";
  margin: 0px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  border-top: 20px solid #E5E5E5;
  border-right: 20px solid white;
  border-bottom: 20px solid white;
  border-left: 20px solid white;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spinTwo 1.5s infinite linear;
  animation: spinTwo 1.5s infinite linear;
}

@-webkit-keyframes spinOne {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinTwo {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.triangle-up-one {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 34px solid white;
  display: inline-block;
}

.triangle-up-two {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 34px solid #B7B6B9;
  display: inline-block;
}

.triangle-down-one {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 34px solid white;
  display: inline-block;
}

.triangle-down-two {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 34px solid #B7B6B9;
  display: inline-block;
}

.up-one {
  border-left: 20px solid #ECDD53;
  border-right: 20px solid #81D8DB;
  border-bottom: 34px solid white;
}

.up-two {
  border-left: 20px solid #81D8DB;
  border-right: 20px solid #EE96A5;
  border-bottom: 34px solid #B7B6B9;
}

.up-tree {
  border-left: 20px solid #EE96A5;
  border-right: 20px solid #DFE87F;
  border-bottom: 34px solid white;
}

.up-four {
  border-left: 20px solid #DFE87F;
  border-right: 20px solid #008080;
  border-bottom: 34px solid #B7B6B9;
}

.up-five {
  border-left: 20px solid #008080;
  border-right: 20px solid #EEC3C0;
  border-bottom: 34px solid white;
}

.up-six {
  border-left: 20px solid #EEC3C0;
  border-right: 20px solid #ECDD53;
  border-bottom: 34px solid #B7B6B9;
}

.up-seven {
  border-left: 20px solid #81D8DB;
  border-right: 20px solid #008080;
  border-bottom: 34px solid white;
}

.up-eight {
  border-left: 20px solid #008080;
  border-right: 20px solid #EEC3C0;
  border-bottom: 34px solid #B7B6B9;
}

.up-nine {
  border-left: 20px solid #EEC3C0;
  border-right: 20px solid #ECDD53;
  border-bottom: 34px solid white;
}

.up-ten {
  border-left: 20px solid #ECDD53;
  border-right: 20px solid #EE96A5;
  border-bottom: 34px solid #B7B6B9;
}

.up-eleven {
  border-left: 20px solid #EE96A5;
  border-right: 20px solid #DFE87F;
  border-bottom: 34px solid white;
}

.up-twelve {
  border-left: 20px solid #DFE87F;
  border-right: 20px solid #81D8DB;
  border-bottom: 34px solid #B7B6B9;
}

.down-one {
  border-left: 20px solid #DFE87F;
  border-right: 20px solid #EE96A5;
  border-top: 34px solid #B7B6B9;
}

.down-two {
  border-left: 20px solid #EE96A5;
  border-right: 20px solid #81D8DB;
  border-top: 34px solid white;
}

.down-tree {
  border-left: 20px solid #81D8DB;
  border-right: 20px solid #008080;
  border-top: 34px solid #B7B6B9;
}

.down-four {
  border-left: 20px solid #008080;
  border-right: 20px solid #ECDD53;
  border-top: 34px solid white;
}

.down-five {
  border-left: 20px solid #ECDD53;
  border-right: 20px solid #EEC3C0;
  border-top: 34px solid #B7B6B9;
}

.down-six {
  border-left: 20px solid #EEC3C0;
  border-right: 20px solid #DFE87F;
  border-top: 34px solid white;
}


/*-------------------*/

.down-seven {
  border-left: 20px solid #008080;
  border-right: 20px solid #DFE87F;
  border-top: 34px solid #B7B6B9;
}

.down-eight {
  border-left: 20px solid #DFE87F;
  border-right: 20px solid #ECDD53;
  border-top: 34px solid white;
}

.down-nine {
  border-left: 20px solid #ECDD53;
  border-right: 20px solid #EE96A5;
  border-top: 34px solid #B7B6B9;
}

.down-ten {
  border-left: 20px solid #EE96A5;
  border-right: 20px solid #81D8DB;
  border-top: 34px solid white;
}

.down-eleven {
  border-left: 20px solid #81D8DB;
  border-right: 20px solid #EEC3C0;
  border-top: 34px solid #B7B6B9;
}

.down-twelve {
  border-left: 20px solid #EEC3C0;
  border-right: 20px solid #008080;
  border-top: 34px solid white;
}